## App Settings

APP_DEBUG=true
APP_ENV=local
APP_URL=localhost

## Database

DB_DATABASE=lan_manager
DB_USERNAME=lan_manager
DB_PASSWORD=password

MYSQL_DATABASE=lan_manager
MYSQL_USER=lan_manager
MYSQL_PASSWORD=password

## Google Analytics (Optional)

ANALYTICS_TRACKING_ID=

## Paypal

PAYPAL_USERNAME=
PAYPAL_PASSWORD=
PAYPAL_SIGNATURE=

## Steam
# https://steamcommunity.com/dev/apikey

STEAM_API_KEY=

## Tournaments
# https://challonge.com/settings/developer

CHALLONGE_API_KEY=

## Facebook
# https://developers.facebook.com

FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=

## File Logger - true/false
# If set to true, the App and Nginx will log to file
LOG_FILES=false

## HTTPS - true/false
# If set to true, the App will redirect all requests to HTTPS
ENABLE_HTTPS=false

## DB Migrate
# If set to true, the App will migrate the database on boot
DB_MIGRATE=true

#### DO NOT CHANGE BELOW THIS LINE OR AT YOUR OWN RISK ####

APP_KEY=

ANALYTICS_PROVIDER=GoogleAnalytics

DB_CONNECTION=mysql
DB_PORT=3306
DB_HOST=database

MYSQL_RANDOM_ROOT_PASSWORD=true