
docker/app/\.env

docker/db/\.env

/vendor
/node_modules
/public/storage
/public/downloads/qr/tickets/*
Homestead.yaml
Homestead.json
*.sublime-project
*.sublime-workspace
composer.lock

\.env

public/uploads/gallery/
