
src/vendor
src/node_modules
src/public/storage
src/public/downloads/qr/tickets/*
src/Homestead.yaml
src/Homestead.json
*.sublime-project
*.sublime-workspace

\.env

resources/certs/*

src/public/css/admin\.css
src/public/css/app\.css
src/public/css/admin\.css\.map
src/public/css/app\.css\.map
src/public/uploads/gallery/*