*.sublime-project
*.sublime-workspace
resources/certs/*

\.env

src/vendor
src/node_modules
src/public/storage
src/public/downloads/qr/tickets/*
src/Homestead.yaml
src/Homestead.json
src/public/css/admin\.css
src/public/css/app\.css
src/public/css/admin\.css\.map
src/public/css/app\.css\.map
src/public/css/font/*
src/public/uploads/gallery/*

docs/build
docker-compose.local.yml
docker-compose-dev.local.yml
