version: '3.9'

services:
  nginx:
    image: nginx:latest
    ports:
      - '8080:80'
    volumes:
      - ./src:/var/www/html
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    networks:
      - internal
  php:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: php-base
    volumes:
      - ./src:/var/www/html
    env_file: $PWD/src/.env
    networks:
      - internal
  db:
    image: mysql:5.6
    volumes:
      - db:/var/lib/mysql
    env_file: $PWD/src/.env
    ports:
      - 3306:3306
    networks:
      - internal

  composer:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: php-composer
    entrypoint: [ "composer" ]
    command: [ "--version" ]
    # user: "1000"
    volumes:
      - ./src:/var/www/html

  npm:
    image: node:8
    # build:
    #   context: .
    #   dockerfile: docker/npm/Dockerfile
    #   target: npm-base
    entrypoint: [ "npm" ]
    command: [ "-v" ]
    # user: "1000"
    volumes:
      - ./src:/app

  artisan:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
      target: php-base
    entrypoint: [ "php", "artisan" ]
    command: [ "--version" ]
    # user: "1000"
    volumes:
      - ./src:/var/www/html
    env_file: $PWD/src/.env
    networks:
      - internal
    
volumes:
  db:

networks:
  internal:
    driver: bridge