/**
 * Book Now
 */
.book-now
{
    margin-top: 10px;
    padding: 0 0 10px 0;

    background: $colour__orange;
    h3
    {
        text-transform: uppercase;

        color: white;
        a:hover
        {
            cursor: pointer;
        }
    }
}
