/**
 * cookie consent
 */


button.js-cookie-consent-agree.cookie-consent__agree {
    z-index: 10;
    background-color: $color_primary;
    color: #333333;
    border-radius: 4px;
    padding: 0.8em;
    float: right;
}



.cookie-consent {
    position: fixed;
    bottom: 10px ;
    left: 10px;
    text-align: left;
    color: $color_primary;
    z-index: 10;
    width: calc(100% - 20px);
    background-color: #4e4e4ecc;
    border-radius: 4px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}
