/**
 * cookie consent
 */


button.js-cookie-consent-agree.cookie-consent__agree {
    z-index: 10;
    background-color: $color_primary;
    border-radius: 4px;
    padding: 0.8em;
    float: right;
}



.cookie-consent {
    position: absolute;
    top: 6%;
    text-align: left;
    color: $color_primary;
    left: 1%;
    z-index: 10;
    width: 98%;
    background-color: #4e4e4ecc;
    border-radius: 4px;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-left: 1em;
    padding-right: 1em;
}
