/**
 * Events
 */
.navbar-events {
  border-bottom: 1px solid $color_body_text;
}

.navbar-events {
  .navbar-nav {
    > li {
      &:hover > a {
        border-bottom: 4px solid $color_primary !important;
        padding-bottom: 4px;
        color: #777777;
        background-color: transparent;
      }
    }
  }
  z-index: 1 !important;
  background-color: $color_body_background !important;
  .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
