/**
 * Helper
 */

.background-color {
    background-color: $color_body_background;
}

// .custom-header
// {
// 	background-color: $color_header_background;
// 	a {
// 		&:hover {
// 			color: $color_header_text;
// 		}
// 	}
// }
.full-height {
    height: 100%;
}

.section-heading {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 35px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 5px solid $color_primary;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-margin {
    margin-bottom: 50px;
}

.padding {
    padding: 15px;
}

.border-between>[class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*='col-']:first-child:before {
    display: none;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
    border: none;
}

.bg-success {
    color: #216704;
}

.bg-danger {
    color: #a01414;
}

.bg-info {
    color: #31708f;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #4e4e4eab;
}

.well,
.panel,
.panel-heading,
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: #4e4e4eab;
}

.panel-default>.panel-heading {
    color: $color_primary;
}