/**
 * Helper
 */

.background-color {
    background-color: $color_body_background;
}

.custom-header {
    background-color: $color_header_background;
    border-bottom: 1px $color_header_line solid;
    a {
        &:hover {
            color: $color_header_links_hover;
        }
    }
}

.full-height {
    height: 100%;
}

.section-heading {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 35px;
    padding-bottom: 15px;
    text-transform: uppercase;
    border-bottom: 5px solid $color_primary;
}

.section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-margin {
    margin-bottom: 50px;
}

.padding {
    padding: 15px;
}

.margin {
    margin: 15px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.border-between>[class*="col-"]:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between>[class*="col-"]:first-child:before {
    display: none;
}

.table-borderless>tbody>tr>td,
.table-borderless>tbody>tr>th,
.table-borderless>tfoot>tr>td,
.table-borderless>tfoot>tr>th,
.table-borderless>thead>tr>td,
.table-borderless>thead>tr>th {
    border: none;
}

.full-width {
    width: 100vw;
    max-width: unset;
    position: relative;
    left: 50%;
    margin-left: -50vw;
}

.top-image {
    margin-top: -1.25rem;
}

.row-seperator:not(:last-child) {
    border-bottom: 1px solid $color_primary_text;
}

.top7 {
    margin-top: 7px;
}

.top10 {
    margin-top: 10px;
}

.top15 {
    margin-top: 15px;
}

.top17 {
    margin-top: 17px;
}

.top30 {
    margin-top: 30px;
}

.block-center>* {
    margin-left: auto;
    margin-right: auto;
}

.img-contain {
    object-fit: contain;
}


/* arrow glyph for showing collapsible panels */

.card-header .accordion-arrow-toggle:before {
    font-family: "Font Awesome 5 Free";
    content: "\f078";
    float: right;
    font-weight: 900;
}

.card-header .accordion-arrow-toggle.collapsed:before {
    content: "\f054";
}


/* sets the link to the width of the entire panel title */

.card-title>a {
    display: block;
}