// User Variable Overrides
$color_primary: orange;
$color_primary_text: white;
$color_secondary: #333;
$color_secondary_text: white;
$color_body_links: orange;
$color_body_background: #333;
$color_body_text: #eee;
$color_header_background: #333;
$color_header_text: #9d9d9d;