// User Variable Overrides
$color_primary: red;
$color_primary_text: #fff;
$color_secondary: black;
$color_secondary_text: black;
$color_links: red;
$color_background: white;
$color_text: #333;
$color_header_background: #fff;
$color_header_text: black;
$color_header_text_hover: white;