// User Variable Overrides
$color_primary: #f5ad38;
$color_primary_text: white;
$color_secondary: #abc;
$color_secondary_text: white;
$color_body_links: #f5ad38;
$color_body_background: #333;
$color_body_text: #eee;
$color_header_background: #222;
$color_header_text: #9d9d9d;