@import 'settings.global.scss';

.menu {
      height: 90px;
      margin-top: $margin;
      float: left;
      text-align: center;
      width: 100%;

      >div {
        max-width: 900px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
      }

  .menulogo,  .menulinks {
    display: inline-block;
    vertical-align: middle;

     a {
        text-decoration: none;
     }
  }

 .menuitem {
   display: inline-block;
   margin: $margin;
   background-color: rgb(236, 230, 225);
   padding: 12px 25px;
   border-radius: $margin;
   color: #000;
   font-weight: bolder;
   font-size: 110%;
 }
   .menuitem:hover {
      background-color: $orange;
    }
}
