.hero {
  background-image: url("../img/hero1.jpg");
  width: 100%;
  min-height: 600px;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: -5;
}

.herofooter {
  height: 100px;
  background-color: #fff;
  width: 100%;
  color: #000;
  margin-bottom: $margin;
}

.heroinfo {
  position: relative;
}
