 /* Temp styles - change this */

body {
  background-color: #000;
  color: #fff;
//  background-image: url('../img/navy_blue.png');
 font-family: Roboto, Helvetica, sans-serif;
 font-size: 10pt;
}

h1 {
  font-size: 300%;
  margin-top: $margin;
  margin-bottom: $margin;
}

h2 {
  font-size: 250%;
  margin-top: $margin;
  margin-bottom: $margin;
}

h3 {
  font-size: 200%;
  margin-top: $margin;
  margin-bottom: $margin;
}

i {
  font-size: 200%;
}
