# Environment Variables will always override any database variables they match unless ENV_OVERRIDE is set to true.

## App Settings

APP_KEY=
APP_DEBUG=true
APP_ENV=local

## Org Settings

APP_NAME=lanops
APP_TAGLINE="Lan in South Yorkshire"
APP_URL=http://localhost:8080
APP_EMAIL=no-reply@lanops.co.uk

## Database

DB_DATABASE=lanops_manager_database
DB_USERNAME=lanops_manager
DB_PASSWORD=password
DB_HOST=db
DB_SEED=true
DB_CONNECTION=mysql
DB_PORT=3306

### This is Specifically for the MYSQL Docker Container - if you are running an external DB you can ignore this.

MYSQL_DATABASE=lanops_manager_database
MYSQL_USER=lanops_manager
MYSQL_PASSWORD=password
MYSQL_RANDOM_ROOT_PASSWORD=true

## Paypal
### https://developer.paypal.com/docs/api/overview/

PAYPAL_USERNAME=
PAYPAL_PASSWORD=
PAYPAL_SIGNATURE=

## Stripe
### https://stripe.com/docs/api

STRIPE_SECRET_KEY=
STRIPE_PUBLIC_KEY=

## Steam
# https://steamcommunity.com/dev/apikey

STEAM_API_KEY=


DISCORD_BOT_URL=