name: Build Docker Image - Main Branch

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Get Build Date/Time
        id: date
        run: echo "::set-output name=date::$(date +'%Y-%m-%d-%H-%M-%S')"

      - name: Checkout
        uses: actions/checkout@v4

      - name: Discord Webhook Action - Build Start
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          embed-title: ${{ github.repository }} - ${{ github.head_ref || github.ref_name }} - Build Started!
          embed-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          embed-description: ${{ github.event.head_commit.message }}

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Create Dummy .env
        run: touch src/.env

      - name: Build App Dependencies
        run: make build && make artisan-storage-link

      - name: Push - NGINX
        uses: docker/build-push-action@v5
        with:
          context: .
          file: resources/docker/nginx/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:nginx-${{ github.head_ref || github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:nginx-${{ github.head_ref || github.ref_name }}-${{ steps.date.outputs.date }}

      - name: Push - APP
        uses: docker/build-push-action@v5
        with:
          context: .
          file: resources/docker/php/Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:app-${{ github.head_ref || github.ref_name }}
            ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:app-${{ github.head_ref || github.ref_name }}-${{ steps.date.outputs.date }}

      - name: Discord Webhook Action - Build Success
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          embed-title: ${{ github.repository }} - ${{ github.head_ref || github.ref_name }} - Build Success!
          embed-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          embed-description: ${{ github.event.head_commit.message }}

      - name: Discord Webhook Action - Build Failure
        if: failure()
        uses: tsickert/discord-webhook@v6.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK_URL }}
          embed-title: ${{ github.repository }} - ${{ github.head_ref || github.ref_name }} - Build Failure!
          embed-url: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          embed-description: ${{ github.event.head_commit.message }}
