name: Build Docker Image

on:
  push:
    branches: [ "main" ]
  # pull_request:
  #   branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Create Dummy .env
        run: touch src/.env
      -
        name: Build App Dependencies
        run: make build
      -
        name: Build - nginx
        uses: docker/build-push-action@v5
        with:
          context: resources/docker/php/
          file: Dockerfile
          load: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:nginx-latest
      # -
      #   name: Build - nginx
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: ./Dockerfile
      #     load: true
      #     tags: ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:latest
      # -
      #   name: Build - nginx
      #   uses: docker/build-push-action@v5
      #   with:
      #     context: .
      #     file: ./Dockerfile
      #     load: true
      #     tags: ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:latest



      -
        name: Build and push - nginx
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:latest
      -
        name: Build and push - php
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:latest
      -
        name: Build and push - nginx
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/lanops-manager:latest
